{% extends "base.html" %} {% block main %}
<h2>{{ exercice.titre }}</h2>
<p>{{ exercice.description }}</p>
<p></p>

<hr />

{% for commentaire in exercice.commentaires %}
<div class="p-3 my-4 border rounded">
	<p>{{ commentaire.user.username }}: {{ commentaire.contenu }}</p>
</div>
{% endfor %}

<div class="mt-5 mb-5"></div>
<form method="post">
	<div class="form-group">
		<textarea
			placeholder="Commenter.."
			rows="4"
			class="mb-3 form-control"
			name="commentaire"
			id="commentaire"
			minlength="2"
		></textarea>
		{% if current_user.is_authenticated %}
		<button type="submit" class="btn btn-primary">
			Ajouter un commentaire
		</button>
		{% endif %} {% if not current_user.is_authenticated %}
		<a class="btn btn-success" href="/sign-in">Log In</a>
		{% endif %}
	</div>
</form>
{% endblock %}
